.game-grid-container {
    
}
.game-text {
    > * {
        text-align: center;
    }
    p {
        margin: $lh * 0.5 0;
    }
}
.game-buttons {
    // padding-top: $lh * 0.25;
    @include grid-container-horizontally-and-vertically-center-GIs(1fr 1fr 1fr, auto);
    > div {
        font-size: 18px;
        height: 100%;
        width: 90%;
        // @include grid-container-horizontally-and-vertically-center-GIs();       
        // background-color: gold;
        > div {
            // background-color: gold;
            // @include grid-container-horizontally-and-vertically-center-GIs(1fr, 1fr 1fr); 
            // text-align: center;      
        }
    }
    .potential-square {
        border-radius: calc(var(--potential-square-button-height) * 0.25);
    }
    .opponent-potential-square {
        border-radius: calc(var(--opponent-potential-square-button-height) * 0.25);
    }
    .selected-potential-square {
        border-radius: calc(var(--selected-potential-square-button-height) * 0.25);
    }
    .switch {
        height: 20px;    
        width: 20px;
        border-radius: 50%;
        border: black solid 1px;
    }
}
.game-terminate-game {
    @include button;
    border-radius: calc(var(--game-terminate-game-button-height) * 0.25);
}