.game-container {
  margin-bottom: $lh * 0.5;
}

.game-text {
  width: var(--width-of-text-containers); margin: 0 auto;
  display: flow-root;
  > * {
    text-align: center;
  }
  p {
    margin: $lh * 0.5 0;
  }
}

.floating-home-button {
  @include button;
  border-radius: calc(var(--floating-home-button-button-height) * 0.25);
  margin: $lh * 0.5 auto; //($lh * 0.5)
}
.exit-game-button {
  @include button;
  // background-color: $exit-button-color;
  border-radius: calc(var(--exit-game-button-button-height) * 0.25);
  margin: ($lh * 0.5) auto;
  > a {
    @include grid-container-horizontally-and-vertically-center-GIs();
  }
}
.game-terminate-game-button {
  @include button;
  border-radius: calc(var(--game-terminate-game-button-button-height) * 0.25);
  margin: ($lh * 0.5) auto;
}
.request-rematch-button {
}

.opponent-quits-page-container {
  @include fresh-page-container();
}
.quit-match-for-new-game-container {
  @include fresh-page-container();
}
.error-page-container {
  @include fresh-page-container();
}

.audio-icon {
    //justify-self: end;
    position: absolute;
    top: 0px; right: 0px;
    --dimension: calc(var(--header-height) / 2);
    height: var(--dimension);
    width: var(--dimension);
    background-color: green;
}
.sound-off {
  background-color: red;
}
audio {
  display: none;
}

