.header + * > *:first-child {
    max-width: var(--width-of-text-containers);//90%;
    margin-left: auto;
    margin-right: auto;
    > * {
        max-width: 50ch;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        > * {
            text-align: center;
        }
    }
}

.home-grid-container {
    @include grid-container-template(100vw, auto);
    align-content: start;
    justify-items: center;
    min-height: calc(var(--vh100) - var(--header-height) - var(--footer-height));//82.5vh

    > * {
        margin-bottom: $lh * 0.5;
    }

    > *:first-child {
        margin-top: $lh * 2;
    }

    .instructions {
        text-align: center;
        p {
            margin-bottom: $lh * 0.5;
        }
        p:last-child {
            margin-bottom: 0;
        }
        > :first-child {
        }
    }
    .new-game {
        @include button;
        border-radius: calc(var(--new-game-button-height) * 0.25);
    }
    .resume-game {
        @include button;
        border-radius: calc(var(--resume-game-button-height) * 0.25);
    }
    .home-terminate-game {
        @include button;
        border-radius: calc(var(--home-terminate-game-button-height) * 0.25);
    }
}


