.home-grid-container {
    @include grid-container-template(100vw, auto);
    align-content: start;
    grid-auto-rows: 20vh;
    // row-gap: calc(var(--line-height) * 1);
    // height: 82.5vh;//why we need this🐉(with question recently asked)
}
.instructions {
    align-self: start;
    // align-content: start;
    // align-items: start;
    // height: calc(var(--font-size) * 5);
    // @include grid-container-horizontally-and-vertically-center-GIs(1fr, 1fr);
    // align-items: initial;
    // font-size: 20px;
    // height: calc(var(--line-height) * 5);
    > * {
        text-align: center;
    }
    p {
        margin-bottom: calc(var(--line-height) * 1)
    }
    > :first-child {
        // margin-top: calc(var(--line-height) * 0.5);
    }
    > :last-child {
        margin-bottom: 0;//calc(var(--line-height) * 0.5);
    }
}
.new-game {
    @include button;
    border-radius: calc(var(--new-game-button-height) * 0.25);
    // > div:hover { //🐉use of ampersand thing
    //     background-color: $button-hover;
    // }
    // > div:active {
    //     background-color: $light-square;
    // }
}
.resume-game {
    @include button;
    border-radius: calc(var(--resume-game-button-height) * 0.25);
}
.home-terminate-game {
    @include button;
    border-radius: calc(var(--home-terminate-game-button-height) * 0.25);
}