//not here but present on: #root inline: button-radius; 
/////////////////////////////////////////////////CONSISTENT VARIABLES///////////////////////////////////////////////////////////
$laptop: 1024px;
$tablet: 768px;

$lh: 1.4rem; //(28px)
$footer-color: #001f3f;
$footer-info-color: darkorchid;
$light-square: grey;
$dark-square: #FF851B;
$button-hover: brown;
$potential-user-square: #0074D9;
$potential-opponent-square: #FF4136;
$potential-clicked-on-piece-square: #85144b;
$white-piece: white;
$black-piece: black;
$clicked-on-piece: #85144b;
$significant-button: #FFDC00;
$light-grey: #dddddd;
///////////////////////////////////////////////GENERIC BREAK-POINTS////////////////////////////////////////////////////
$header-height: 12.5vh;//10
$footer-height: 17.5vh;//16 ( = golden ratio w/title?)
@media (max-width: 500px) {
    html {
        --color: blue;
    }
}
@media (min-width: 500px) {
    html {
        --color: green;
    }
}
@media (min-width: $laptop) {
    html {
        --random: pink;
    }
}
/////////////////////////////////////////////////MIXINS/////////////////////////////////////////////////////////////////////
@mixin grid-container-template($column-value: 1fr, $row-value: 1fr) {
    display: grid;
    grid-template-columns: $column-value;
    grid-template-rows: $row-value;
}
@mixin grid-container-horizontally-and-vertically-center-GIs($column-value: 1fr, $row-value: 1fr) {
    @include grid-container-template($column-value, $row-value);
    place-items: center;
}
@mixin button {
    background-color: $dark-square;
    border: solid 3px brown;
    width: 90%; max-width: 400px;
    height: $lh * 3 ;//100%
    justify-self: center;//align-self: start;
    margin-top: $lh / 2;
    // margin-bottom: $lh / 2;
    @include grid-container-horizontally-and-vertically-center-GIs();
    &:hover {
        background-image: linear-gradient($dark-square, brown);
    }
}
@mixin board-info-button {
    @include grid-container-horizontally-and-vertically-center-GIs();
}
@mixin fresh-page-container {
    height: 100vh - $header-height - $footer-height;
    text-align: center;
    display: flow-root;//padding-top: 55px;stops it from doing parental MC. 
    p {
        margin-bottom: ($lh * 0.5);
    }
    p:nth-child(1) {
        margin-top: ($lh * 0.5);
    }
}
/////////////////////////////////////////////////RESET///////////////////////////////////////////////////////////
@mixin copy-for-anchor {
    box-sizing: inherit;
    color: unset;//don't know why we need this for color to not be purple(🧨)
}
*, ::before, ::after {
    margin-top: 0;
    margin-right: 0;
    // padding: 0;
    margin: 0;
    @include copy-for-anchor();
}
html {
    font-size: 20px;
}
#root {
    box-sizing: border-box;
    @media screen and (max-width: 500px) {
        line-height: $lh;
    }
}
body {
    margin: 0;
}
h1 {
    // font-size: $lh * 2;
    margin-top: $lh * 0.5;
    margin-bottom: $lh * 1;
}
a {
    all: unset;
    @include copy-for-anchor();
    cursor: default;
    text-decoration: initial;
}
img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
/////////////////////////////////////////////////GENERAL//////////////////////////////////////////////////////////
.header {
    height: $header-height;
    font-size: $header-height * 0.75;//60px
    background-color: #DDDDDD;
    @include grid-container-horizontally-and-vertically-center-GIs(1fr, 1fr);
    align-items: stretch;
    > a {
        @include grid-container-horizontally-and-vertically-center-GIs(1fr, 1fr);
        > div {
            > span:nth-child(2) {
                display: inline-block;
                -moz-transform: scale(-1, 1);
                -webkit-transform: scale(-1, 1);
                transform: scale(-1, 1);
            }
        }
    }
  
}
.footer {
    font-size: 15px; 
    $lh: 1.2em;
    $distance-from-footer-top: $lh * 0.25;
    line-height: $lh;
    // position: fixed;
    // bottom: 0px;
    width: 100vw;
    height: $footer-height;
    background-color: $footer-color;
    color: $footer-info-color;
    @include grid-container-template(1fr, 50% 50%);//38% 62%
    .footer-info {
        @include grid-container-horizontally-and-vertically-center-GIs();
        text-align: center;
        align-items: start;
        @media screen and (min-width: $tablet) {
            // padding-left: 0%;
        }
        > p {
            margin-top: $distance-from-footer-top;
        }
        
    }
    .icons {
        @include grid-container-template(repeat(3, 1fr), 100%);//🐉min-max here.
        // @media screen and (min-width: $tablet) {
        //     padding-left: 70%;//70%
            // padding-right: 30%;//70%
            // column-gap: 5%;
        // }
    }
    @media screen and (min-width: $laptop) {
        $cell-column-2: 25%;
        $cell-column-1: 100% - ($cell-column-2 * 2);
        justify-content: end;
        grid-template-columns: $cell-column-1 $cell-column-2;
        grid-template-rows: 100%;
        > .icons {
            // margin-top: $distance-from-footer-top;
            // height: 50%;
            // margin: 15% 0;
            // column-gap: 5%;
            a {
                margin: 25% 0;
            }
        }
    }
}  
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import './home.scss';
@import './game.scss';
@import './board.scss';
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.warning-button { 
    background-color: $potential-opponent-square;
    &:hover {
        background-image: linear-gradient($potential-opponent-square, brown);
    }
}
.significant-button { 
    background-color: $significant-button;
    &:hover {
        background-image: linear-gradient($significant-button, brown);
    }
} 

