html {
  font-size: 20px;
  --vh100: calc(100 * var(--vh));
  --margin-from-containing-block: 20px;
  --button-min-width: 100px;
  --header-height: calc(12.5 * var(--vh));
  --footer-height: calc(17.5 * var(--vh));
}

*,
::before,
::after {
  margin-top: 0;
  margin-right: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  color: unset;
}

#root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  #root {
    line-height: 1.4rem;
  }
}

body {
  margin: 0;
}

h1 {
  margin-top: 0.7rem;
  margin-bottom: 1.4rem;
}

a {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  color: unset;
  cursor: default;
  text-decoration: initial;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.header {
  height: var(--header-height);
  font-size: calc(var(--header-height) * 0.75);
  background-color: #dddddd;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  place-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.header > a {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: var(--header-height) var(--header-height);
      grid-template-columns: var(--header-height) var(--header-height);
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  place-items: center;
}

.header > a > * {
  height: 90%;
  width: 90%;
}

.header > a > *:first-child {
  -ms-grid-column-align: end;
      justify-self: end;
}

.header > a > *:last-child {
  -ms-grid-column-align: start;
      justify-self: start;
  display: inline-block;
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.footer {
  font-size: 15px;
  line-height: 1.2em;
  width: 100vw;
  height: var(--footer-height);
  background-color: #090B19;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 40% 60%;
      grid-template-rows: 40% 60%;
}

.footer .footer-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  place-items: center;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer .footer-info > p {
  margin-top: 0.3em;
}

.footer .icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.footer .icons a {
  margin-bottom: 0.3em;
}

@media screen and (min-width: 768px) {
  .footer {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -ms-grid-columns: 40% 30%;
        grid-template-columns: 40% 30%;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
  .footer > .icons {
    margin: 0;
    margin-right: 2%;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .footer > .icons a {
    margin: calc(0.25 * var(--footer-height)) 0;
  }
}

.home-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-flex-line-pack: start;
      align-content: start;
  justify-items: center;
  height: calc(var(--vh100) - var(--header-height) - var(--footer-height));
}

.home-grid-container > * {
  width: 90%;
  max-width: 500px;
}

.home-grid-container .instructions {
  text-align: center;
}

.home-grid-container .instructions p {
  margin-bottom: 0.7rem;
}

.home-grid-container .instructions > :first-child {
  margin-top: 1.4rem;
}

.home-grid-container .new-game {
  background-color: #ffdc00;
  border: solid 3px brown;
  width: 90%;
  max-width: 380px;
  height: 4.2rem;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 0.7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  place-items: center;
  border-radius: calc(var(--new-game-button-height) * 0.25);
}

.home-grid-container .new-game:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffdc00), to(#FF851B));
  background-image: linear-gradient(#ffdc00, #FF851B);
}

.home-grid-container .resume-game {
  background-color: #ffdc00;
  border: solid 3px brown;
  width: 90%;
  max-width: 380px;
  height: 4.2rem;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 0.7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  place-items: center;
  border-radius: calc(var(--resume-game-button-height) * 0.25);
}

.home-grid-container .resume-game:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffdc00), to(#FF851B));
  background-image: linear-gradient(#ffdc00, #FF851B);
}

.home-grid-container .home-terminate-game {
  background-color: #ffdc00;
  border: solid 3px brown;
  width: 90%;
  max-width: 380px;
  height: 4.2rem;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 0.7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  place-items: center;
  border-radius: calc(var(--home-terminate-game-button-height) * 0.25);
}

.home-grid-container .home-terminate-game:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffdc00), to(#FF851B));
  background-image: linear-gradient(#ffdc00, #FF851B);
}

.game-container {
  margin-bottom: 0.7rem;
}

.game-text {
  display: flow-root;
}

.game-text > * {
  text-align: center;
}

.game-text p {
  margin: 0.7rem 0;
}

.floating-home-button {
  background-color: #ffdc00;
  border: solid 3px brown;
  width: 90%;
  max-width: 380px;
  height: 4.2rem;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 0.7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  place-items: center;
  border-radius: calc(var(--floating-home-button-button-height) * 0.25);
  margin: 0.7rem auto;
}

.floating-home-button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffdc00), to(#FF851B));
  background-image: linear-gradient(#ffdc00, #FF851B);
}

.exit-game-button {
  background-color: #ffdc00;
  border: solid 3px brown;
  width: 90%;
  max-width: 380px;
  height: 4.2rem;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 0.7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  place-items: center;
  border-radius: calc(var(--exit-game-button-button-height) * 0.25);
  margin: 0.7rem auto;
}

.exit-game-button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffdc00), to(#FF851B));
  background-image: linear-gradient(#ffdc00, #FF851B);
}

.exit-game-button > a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  place-items: center;
}

.game-terminate-game-button {
  background-color: #ffdc00;
  border: solid 3px brown;
  width: 90%;
  max-width: 380px;
  height: 4.2rem;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 0.7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  place-items: center;
  border-radius: calc(var(--game-terminate-game-button-button-height) * 0.25);
  margin: 0.7rem auto;
}

.game-terminate-game-button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffdc00), to(#FF851B));
  background-image: linear-gradient(#ffdc00, #FF851B);
}

.opponent-quits-page-container {
  height: calc(var(--vh100) - var(--header-height) - var(--footer-height));
  text-align: center;
  display: flow-root;
}

.opponent-quits-page-container p {
  margin-bottom: 0.7rem;
}

.opponent-quits-page-container p:nth-child(1) {
  margin-top: 0.7rem;
}

.quit-match-for-new-game-container {
  height: calc(var(--vh100) - var(--header-height) - var(--footer-height));
  text-align: center;
  display: flow-root;
}

.quit-match-for-new-game-container p {
  margin-bottom: 0.7rem;
}

.quit-match-for-new-game-container p:nth-child(1) {
  margin-top: 0.7rem;
}

.error-page-container {
  height: calc(var(--vh100) - var(--header-height) - var(--footer-height));
  text-align: center;
  display: flow-root;
}

.error-page-container p {
  margin-bottom: 0.7rem;
}

.error-page-container p:nth-child(1) {
  margin-top: 0.7rem;
}

.z-index-1 {
  z-index: 1;
}

.fizzle {
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  opacity: 0;
}

.dead {
  display: none;
}

.unclickable {
  pointer-events: none;
}

.clickable {
  pointer-events: auto;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.white-piece {
  -webkit-filter: invert(100%) sepia(18%) saturate(1324%) hue-rotate(231deg) brightness(108%) contrast(109%);
          filter: invert(100%) sepia(18%) saturate(1324%) hue-rotate(231deg) brightness(108%) contrast(109%);
}

.black-piece {
  -webkit-filter: invert(0%) sepia(4%) saturate(0%) hue-rotate(274deg) brightness(95%) contrast(104%);
          filter: invert(0%) sepia(4%) saturate(0%) hue-rotate(274deg) brightness(95%) contrast(104%);
}

.piece-image {
  width: 80%;
  height: 80%;
}

.pawn-image {
  width: 80%;
  height: 80%;
}

.board-metric-buttons-nav-buttons-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.board-metric-buttons-nav-buttons-flex-container .board-grid-container {
  --board-dimension-limit: calc(var(--vh100) - var(--header-height) - var(--game-text-height));
  width: 100vw;
  max-width: var(--board-dimension-limit);
  height: 100vw;
  max-height: var(--board-dimension-limit);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (12.5%)[8];
      grid-template-columns: repeat(8, 12.5%);
  -ms-grid-rows: (12.5%)[8];
      grid-template-rows: repeat(8, 12.5%);
}

.board-metric-buttons-nav-buttons-flex-container .board-grid-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: calc(var(--board-height) * 0.125);
  font-size: calc((var(--board-height) * 0.125) * 1.5);
  background-color: #835c3b;
}

.board-metric-buttons-nav-buttons-flex-container .board-grid-container > .black-square {
  background-color: #FF851B;
}

.board-metric-buttons-nav-buttons-flex-container .board-grid-container .opponent-moved-from-square {
  background-color: #ff851b;
}

.board-metric-buttons-nav-buttons-flex-container .board-grid-container .opponent-moved-to-square {
  background-color: #ff851b;
}

.board-metric-buttons-nav-buttons-flex-container .board-grid-container > .potentialUserSquare {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(25%, #0074d9), color-stop(25%, transparent));
  background-image: linear-gradient(to bottom right, #0074d9 25%, transparent 25% 100%);
}

.board-metric-buttons-nav-buttons-flex-container .board-grid-container > .potentialClickedOnPieceSquare {
  background-color: #85144b;
}

.board-metric-buttons-nav-buttons-flex-container .board-grid-container > .potentialOpponentSquare {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(75%, transparent), color-stop(75%, #ff4136));
  background-image: linear-gradient(to bottom right, transparent 75%, #ff4136 75% 100%);
}

.board-metric-buttons-nav-buttons-flex-container .board-grid-container > .potentialUserAndOpponentSquare {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(25%, #0074d9), color-stop(25%, transparent)), -webkit-gradient(linear, left top, right bottom, color-stop(75%, transparent), color-stop(75%, #ff4136));
  background-image: linear-gradient(to bottom right, #0074d9 25%, transparent 25% 100%), linear-gradient(to bottom right, transparent 75%, #ff4136 75% 100%);
}

.board-metric-buttons-nav-buttons-flex-container .board-grid-container .highlighted {
  -webkit-filter: invert(14%) sepia(55%) saturate(3565%) hue-rotate(311deg) brightness(93%) contrast(99%);
          filter: invert(14%) sepia(55%) saturate(3565%) hue-rotate(311deg) brightness(93%) contrast(99%);
}

.board-metric-buttons-nav-buttons-flex-container .board-grid-container .pawn {
  font-size: calc((var(--board-height) * 0.125) * 1.2);
}

.board-metric-buttons-nav-buttons-flex-container .metric-buttons-and-nav-buttons {
  height: var(--board-height);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 3fr 4fr 3fr;
      grid-template-rows: 3fr 4fr 3fr;
      grid-template-areas: "." "metric" "nav";
  --button-container-width: 100px;
  width: var(--button-container-width);
}

.board-metric-buttons-nav-buttons-flex-container .metric-buttons-and-nav-buttons .game-metric-buttons {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: metric;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.12rem;
}

.board-metric-buttons-nav-buttons-flex-container .metric-buttons-and-nav-buttons .game-metric-buttons > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  padding: 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  place-items: center;
  text-align: center;
  font-size: 18px;
  background-color: #dddddd;
  color: black;
  border: solid grey 2px;
}

.board-metric-buttons-nav-buttons-flex-container .metric-buttons-and-nav-buttons .game-metric-buttons .switch {
  height: 20px;
  width: 20px;
  margin: 0 auto;
  border-radius: 50%;
  border: solid 1px black;
}

.board-metric-buttons-nav-buttons-flex-container .metric-buttons-and-nav-buttons .game-metric-buttons .potential-square {
  border-radius: calc(var(--potential-square-button-height) * 0.1);
}

.board-metric-buttons-nav-buttons-flex-container .metric-buttons-and-nav-buttons .game-metric-buttons .potential-square-switch-color {
  background-color: #0074d9;
  border-color: #0074d9;
}

.board-metric-buttons-nav-buttons-flex-container .metric-buttons-and-nav-buttons .game-metric-buttons .opponent-potential-square {
  border-radius: calc(var(--opponent-potential-square-button-height) * 0.1);
}

.board-metric-buttons-nav-buttons-flex-container .metric-buttons-and-nav-buttons .game-metric-buttons .opponent-potential-square-switch-color {
  background-color: #ff4136;
  border-color: #ff4136;
}

.board-metric-buttons-nav-buttons-flex-container .metric-buttons-and-nav-buttons .game-metric-buttons .selected-potential-square {
  border-radius: calc(var(--selected-potential-square-button-height) * 0.1);
}

.board-metric-buttons-nav-buttons-flex-container .metric-buttons-and-nav-buttons .game-metric-buttons .selected-potential-square-switch-color {
  background-color: #85144b;
  border-color: #85144b;
}

.board-metric-buttons-nav-buttons-flex-container .metric-buttons-and-nav-buttons .nav-buttons {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.board-metric-buttons-nav-buttons-flex-container .metric-buttons-and-nav-buttons .nav-buttons > * {
  width: var(--button-container-width);
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 785px) {
  .board-metric-buttons-nav-buttons-flex-container .metric-buttons-and-nav-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: var(--board-height);
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .board-metric-buttons-nav-buttons-flex-container .metric-buttons-and-nav-buttons .game-metric-buttons {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-bottom: 0.7rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .board-metric-buttons-nav-buttons-flex-container .metric-buttons-and-nav-buttons .nav-buttons {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-column-gap: 0.7rem;
            column-gap: 0.7rem;
  }
  .board-metric-buttons-nav-buttons-flex-container .metric-buttons-and-nav-buttons .nav-buttons > * {
    width: 285px;
  }
}

.pawn-promotion-container {
  height: calc(var(--board-height) * 0.125);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  place-items: center;
}

.pawn-promotion-container .pawn-promotion-grid-container {
  height: 100%;
  background-color: #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pawn-promotion-container .pawn-promotion-grid-container-color-white {
  background-color: #FF851B;
}

.pawn-promotion-container .pawn-promotion-grid-container > * {
  width: calc(var(--board-height) * 0.125);
}

.pawn-promotion-container .pawn-promotion-title {
  height: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  place-items: center;
}

.pawn-promotion-container .pawn-promotion-exit-button {
  height: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  place-items: center;
}

.pawn-promotion-container .pawn-promotion-exit-button > * {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  place-items: center;
  height: 100%;
  width: 10%;
}

#root .warning-button {
  background-color: #ff4136;
}

#root .warning-button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff4136), to(brown));
  background-image: linear-gradient(#ff4136, brown);
}

#root .significant-button {
  background-color: #ff851b;
}

#root .significant-button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff851b), to(brown));
  background-image: linear-gradient(#ff851b, brown);
}
/*# sourceMappingURL=main.css.map */